# Data Science
pandas
numpy
scipy
matplotlib
seaborn
tqdm
joblib

# Deep Learning
tensorflow
torch
torchvision
timm

# Utilities
python-box
pyyaml
types-PyYAML
ensure
gdown

# Web & API
Flask
Flask-Cors
gunicorn

# Notebook
notebook

# Editable install of local package
-e .